# Ignorar Python / Django
backend/__pycache__/
backend/staticfiles/
backend/*.pyc
backend/.env
backend/venv/

# Ignorar Node / Angular
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/venv/

tutorial.html
